upstream owncast {
  server 127.0.0.1:8080;
}

map $http_upgrade $connection_upgrade {
    default upgrade;
    ''      close;
}

server {
  listen 80;
  listen [::]:80;
  server_name {{ server_hostname }};
  root /var/www/html;
  location /.well-known/acme-challenge/ { allow all; }
  location / { return 301 https://$host$request_uri; }
}

server {
  listen 443 ssl http2;
  listen [::]:443 ssl http2;
  server_name {{ server_hostname }};

  ssl_protocols TLSv1.2 TLSv1.3;
  ssl_prefer_server_ciphers on;
  ssl_session_cache shared:SSL:10m;
  ssl_session_timeout 10m;
  ssl_session_tickets off;
  ssl_ecdh_curve secp384r1;
  ssl_ciphers ECDHE-RSA-AES128-GCM-SHA256:ECDHE-RSA-AES256-GCM-SHA384:ECDHE-RSA-CHACHA20-POLY1305:DHE-RSA-AES128-GCM-SHA256:DHE-RSA-AES256-GCM-SHA384 ;
  ssl_dhparam /etc/nginx/ssl/ffdhe4096.pem; 

 
  ssl_certificate     /etc/letsencrypt/live/{{ server_hostname }}/fullchain.pem;
  ssl_certificate_key /etc/letsencrypt/live/{{ server_hostname }}/privkey.pem;

  keepalive_timeout    70;
  sendfile             on;
  client_max_body_size 80m;

  root /var/www/html;

  location / {
    proxy_pass  http://owncast;
    add_header Content-Security-Policy "default-src 'none'; script-src 'self' 'unsafe-inline';style-src 'self' 'unsafe-inline'; worker-src blob: 'self'; font-src 'self' data:; img-src 'self' data:; connect-src 'self'; media-src 'self' blob:; manifest-src 'self';" always;
    proxy_set_header X-Forwarded-Host $host;
    proxy_set_header X-Forwarded-Server $host;
    proxy_set_header X-Forwarded-Proto $scheme;
    proxy_set_header X-Real-IP $remote_addr;
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header Host $host;
    proxy_http_version 1.1;
    proxy_set_header Upgrade $http_upgrade;
    proxy_set_header Connection $connection_upgrade;
  }
  

  error_page 500 501 502 503 504 /500.html;
}
